<div class="form">


<%= form_with(model: post) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

<ul>
<% post.errors.each do |error| %>
<li><%= error.full_message %></li>
<% end %>
</ul>
</div>
<% end %>

<div class="field">
<p>Автор <%= form.label :postauthor %></p>
<%= form.text_field :postauthor %>
</div>

<div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.pluck(:name, :id) %>
</div>

<div class="field">
<p>Текст поста <%= form.label :content %></p>
<%= form.text_area :content %>
</div>

<div class="actions">
<button>Создать пост <%= form.submit %></button>
</div>
<% end %>

</div>
